<% content_for :content do %>

    <h1><i class="fa fa-user"></i> Login</h1>

    <ol class="breadcrumb" style="margin-top: 30px;">
      <li><i class="fa fa-home"></i><a href="<%= root_path %>">Início</a></li>
      <li><i class="fa fa-plus"></i>Login</li>
    </ol>

    <div class="row">
      <div class="col-xs-12 col-lg-2"></div>
      <div class="col-xs-12 col-lg-8">
        <section class="panel">
          <div class="panel-body">

            <%= form_for :session, :url=> sign_in_path, :html => {:class => "form-horizontal"} do |ff| %>
                <div class="form-group">
                  <label for="loginEmail" class="col-lg-2 control-label">Email</label>
                  <div class="col-lg-10">

                    <div class="input-group">
                      <%= ff.email_field :email, autofocus: true, :class=> "form-control", :placeholder=>"Email" %>
                      <span class="input-group-addon" id="basic-addon2">@id.uff.br</span>
                    </div>

                  </div>
                </div>
                <div class="form-group">
                  <label for="loginSenha" class="col-lg-2 control-label">Senha</label>
                  <div class="col-lg-10">
                    <%= ff.password_field :senha, autocomplete: "off", :class=> "form-control", :placeholder=>"Senha" %>
                  </div>
                </div>
                <div class="form-group">
                  <div style="text-align: center">
                    <%= ff.submit "Entrar", :class => 'btn btn-success'%>
                  </div>
                </div>
            <% end %>
          </div>
        </section>
      </div>
    </div>
<% end %>
