<h1>Listing situacao_avaliacaos</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @situacao_avaliacaos.each do |situacao_avaliacao| %>
  <tr>
    <td><%= situacao_avaliacao.id %></td>
    <td><%= situacao_avaliacao.descricao %></td>
    <td><%= link_to 'Show', situacao_avaliacao %></td>
    <td><%= link_to 'Edit', edit_situacao_avaliacao_path(situacao_avaliacao) %></td>
    <td><%= link_to 'Destroy', situacao_avaliacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Situacao avaliacao', new_situacao_avaliacao_path %>
