<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @situacao_avaliacao.id %>
</p>

<p>
  <b>Descricao:</b>
  <%= @situacao_avaliacao.descricao %>
</p>


<%= link_to 'Edit', edit_situacao_avaliacao_path(@situacao_avaliacao) %> |
<%= link_to 'Back', situacao_avaliacaos_path %>
