<% content_for :content do %>

    <ol class="breadcrumb">
      <li><i class="fa fa-home"></i><a href="<%= root_path %>">Início</a></li>
      <li><i class="fa fa-user"></i><a href="<%= usuarios_path %>">Usuários</a></li>
      <li><i class="fa fa-pencil-square-o"></i><a href="<%= usuario_path %>"><%= @usuario.nome %></a></li>
    </ol>

    <%= render 'form' %>

<% end %>