<% content_for :content do %>

        <!--overview start-->

        <div class="row">
          <div class="col-xs-12 col-lg-8">
            <section class="panel">
              <div class="panel-body">

                <h1 style="text-align: center; font-size: 22pt;">Seja bem-vindo ao <b>EstagiandoUFF</b>!</h1>

                <p>O <b>EstagiandoUFF</b> é uma rede social exclusivamente para os alunos da <i>Universidade Federal Fluminense</i>.
                Aqui os usuários podem compartilhar as suas experiências em estágios e interagir com outros usuários sobre
                as suas experiências.</p>
                <p>Como nosso sistema é exclusivo para alunos da UFF, é necessário efetuar o seu registro utilizando um email
                <b>@id.uff.br</b>. Porém, nosso sistema é completamente aberto para visualização externa.
                Isto é, visitantes não cadastrados podem visualizar as avaliações e os comentários feitos pelos usuários
                cadastrados no sistema.</p>
                <p>No menu ao lateral, você encontra as opções Home, Empresas e Avaliações.</p>
                <ul>

                  <li style="margin-bottom: 10px;"><b>Home</b> - redireciona à página inicial (esta página)</li>
                  <li style="margin-bottom: 10px;"><b>Empresas</b> - lista das empresas já adicionadas ao nosso sistema. Nesta página é possível filtrar as empresas
                  exibidas, bem como buscar uma empresa pelo seu nome.</li>
                  <li style="margin-bottom: 10px;"><b>Avaliações</b> - lista das avaliações de estágio realizadas pelos nossos usuários. Aqui é possível filtrar
                  os resultados de diversas maneiras.</li>

                </ul>

              </div>
            </section>
          </div>

          <% if !logged_in? %>
          <div class="col-xs-6 col-lg-4">

            <ul class="nav nav-tabs">
              <li class="active">
                <a data-toggle="tab" href="#login"><i class="fa fa-user"></i> Login</a>
              </li>
              <li><a data-toggle="tab" href="#cadastro"><i class="fa fa-plus"></i> Cadastro</a></li>
            </ul>
            <div class="tab-content panel">
              <div id="login" class="tab-pane panel-body fade in active">

                <p style="margin-top: 5px;">Faça login utilizando seu email <b>@id.uff.br</b>.</p>
                <p style="margin-bottom: 20px;">Se essa for a sua primeira visita ao <b>EstagiandoUFF</b>, será necessário realizar um <a href="<% new_usuario_path %>">cadastro</a>.</p>



                <%= form_for :session, :url=> sign_in_path, :html => {:class => "form-horizontal"} do |ff| %>
                  <div class="form-group">
                    <label for="loginEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">

                      <div class="input-group">
                        <%= ff.text_field :email, autofocus: true, :class=> "form-control", :placeholder=>"Email" %>
                        <span class="input-group-addon" id="basic-addon2">@id.uff.br</span>
                      </div>

                    </div>
                  </div>
                  <div class="form-group">
                    <label for="loginSenha" class="col-lg-2 control-label">Senha</label>
                    <div class="col-lg-10">
                      <%= ff.password_field :senha, autocomplete: "off", :class=> "form-control", :placeholder=>"Senha" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <div style="text-align: center">
                      <%= ff.submit "Entrar", :class => 'btn btn-success'%>
                    </div>
                  </div>
              <% end %>

              </div>

              <div id="cadastro" class="tab-pane panel-body fade">
                <p style="margin-top: 5px;">Faça já o seu cadastro no <b>EstagiandoUFF</b>.</p>
                <p style="margin-bottom: 20px;">Por ser um sistema exclusivo para alunos da UFF, você deve efetuar seu cadastro usando seu email <b>@id.uff.br</b></p>

                <%= form_for(@usuario, :html => {:class => "form-horizontal"}) do |f|%>
                  <div class="form-group">
                    <label for="cadastroNome" class="col-lg-2 control-label">Nome</label>
                    <div class="col-lg-10">
                      <%= f.text_field :nome, :class => 'form-control', :placeholder => 'Nome' %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="cadastroEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">

                      <div class="input-group">
                        <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email' %>
                        <span class="input-group-addon" id="basic-addon2">@id.uff.br</span>
                      </div>

                    </div>
                  </div>
                  <div class="form-group">
                    <label for="cadastroSenha" class="col-lg-2 control-label">Senha</label>
                    <div class="col-lg-10">
                      <%= f.password_field :senha, :class => 'form-control', :placeholder => 'Senha' %>
                    </div>
                  </div>
                  <div class="form-group">
                    <div style="text-align: center">
                      <%= f.submit "Cadastrar", :class => 'btn btn-success'%>
                    </div>
                  </div>
                <% end -%>
              </div>
            </div>
          </div>
          <% end %>
        </div>


        <!-- project team & activity end -->
<% end
%>
