<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @usuario.id %>
</p>

<p>
  <b>Nome:</b>
  <%= @usuario.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Senha:</b>
  <%= @usuario.senha %>
</p>

<p>
  <b>Administrador:</b>
  <%= @usuario.administrador %>
</p>

<p>
  <b>Verificado:</b>
  <%= @usuario.verificado %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
