<% content_for :content do %>

    <ol class="breadcrumb">
      <li><i class="fa fa-home"></i><a href="<%= root_path %>">Início</a></li>
      <li><i class="fa fa-user"></i><a href="<%= usuarios_path %>">Usuários</a></li>
      <li><%= @usuario.nome %></li>
    </ol>

    <div class="row">

      <div class="col-xs-12 col-lg-1"></div>

      <div class="col-xs-12 col-lg-2">
        <section style="margin-bottom: 15px;">
          <%= image_tag("user.jpg", :class => 'img-circle img-responsive') %>
        </section>
      </div>

      <div class="col-xs-12 col-lg-8">
        <section class="panel">
          <div class="panel-body">

            <% if @usuario == current_user %>
                <a class="btn btn-primary" href="<%= edit_usuario_path(@usuario) %>" style="float:right;"><i class="fa fa-pencil-square-o"></i> Editar Perfil</a>
            <% end %>
            <p>
              <b>Nome:</b>
              <%= @usuario.nome %>
            </p>

            <p>
              <b>Email:</b>
              <%= @usuario.email %>
            </p>

          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-1"></div>
      <div class="col-xs-12 col-lg-10">
        <section class="panel">
          <div class="panel-body">

            <h2>Avaliações</h2>

            <% if !@avaliacoes.any? %>
                <div class="alert alert-warning fade in" style="margin-bottom: 0px !important;">

                  O usuário ainda não realizou nenhuma avaliação.

                </div>
            <% else %>
                <% @avaliacoes.each do |avaliacao| %>

                    <hr>
                    <div class="row">

                      <div class="col-xs-12 col-lg-3">
                        <p style="font-size: 12pt;">
                          <b>Empresa:</b>
                          <a href="<%= empresa_path(avaliacao.empresa.id) %>" target="_blank"><%= avaliacao.empresa.nome %></a>
                        </p>
                      </div>

                      <div class="col-xs-12 col-lg-3">
                        <p style="font-size: 12pt;">
                          <b>Período na empresa:</b>
                          <% if !avaliacao.inicio_contrato.nil? %>

                              <% if !avaliacao.final_contrato.nil? %>
                                  <%= avaliacao.inicio_contrato %> a <%= avaliacao.final_contrato %>
                              <% else %>
                                  <%= avaliacao.inicio_contrato %> até agora

                              <% end %>
                          <% else %>
                              <i>não informado</i>
                          <% end %>
                        </p>
                      </div>

                      <div class="col-xs-12 col-lg-3">
                        <p style="font-size: 12pt;">
                          <b>Cargo:</b>
                          <% if !avaliacao.titulo_cargo.nil? %>
                              <%= avaliacao.titulo_cargo %>
                          <% else %>
                              <i>não informado</i>
                          <% end %>
                        </p>
                      </div>

                      <% if logged_in? && current_user.id == @usuario.id%>
                          <div class="col-xs-12 col-lg-2">
                            <p style="font-size: 12pt;">
                              <b>Status:</b>
                              <%= avaliacao.situacao_avaliacao.descricao%>
                            </p>
                          </div>
                      <% end %>

                      <div class="col-xs-12 col-lg-1">
                        <a class="btn btn-primary" style="float: right" href="<%= avaliacao_path(avaliacao.id) %>"><i class="fa fa-plus-square-o"></i></a>
                      </div>
                    </div>
                <% end %>
            <% end %>

          </div>
        </section>
      </div>
    </div>

<% end %>