</br>

<div class="row">
  <div class="col-xs-12 col-lg-6">
    <section class="panel">
      <div class="panel-body">

        <% if @empresa.new_record? %>

        <p>O primeiro passo ao cadastrar uma empresa é se certificar que a mesma não está em nosso banco de dados.
          Faça uma busca em nossa <a href="<%= empresas_path %>">lista de empresas</a>.
          Caso você não encontre a empresa, é hora de ir para o próximo passo.</p>
        <p>Para adicionar uma empresa ao <b>EstagiandoUFF</b> os únicos dados exigidos são o nome da empresa e a cidade onde ela está
         localizada, mas você também pode adicionar dados de contato, como email e telefone. Além disso,
          você pode fazer o upload da logomarca da empresa.</p>

        <% end %>

        <h3 style="font-size: 14pt;">Regras Gerais</h3>
        <ul>
          <li>
            <b>Nome</b>: entre apenas com o nome fantasia da empresa. Não é necessário adicionar sufixos como <i>LTDA</i> ou <i>S/A</i>.
            <br><span style="font-size: 9.5pt;color: #B0ADAD;"><b>Exemplo</b>: Microsoft (correto) | Microsoft Informática LTDA. (incorreto)</span>
          </li>
          <li>
            <b>Telefone</b>: é obrigatório adicionar o DDD do telefone. A UFF possui campi em áreas de DDDs diferentes, logo essa informação é necessária.
            <br><span style="font-size: 9.5pt;color: #B0ADAD;"><b>Exemplo</b>: (21) 3333-4444 (correto) | 3333-4444 (incorreto)</span>
          </li>
          <li>
            <b>Email:</b>: preferencialmente, adicione o email de contato geral da empresa, não de um contato específico.
            <br><span style="font-size: 9.5pt;color: #B0ADAD;"><b>Exemplo</b>: contato@google.com (correto) | marcelo@google.com (incorreto)</span>
          </li>
          <li>
            <b>Site:</b>: adicione a raiz do site da empresa, não alguma página interna.
            <br><span style="font-size: 9.5pt;color: #B0ADAD;"><b>Exemplo</b>: http://www.nvidia.com.br (correto) | http://www.nvidia.com.br/page/home.html (incorreto)</span>
          </li>
        </ul>
      </div>
    </section>
  </div>

  <div class="col-xs-12 col-lg-6">
    <section class="panel">
      <div class="panel-body">

        <h2 style="margin-top: 0; margin-bottom: 20px">Dados da Empresa</h2>

        <%= form_for(@empresa) do |f| %>
            <% if @empresa.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

                  <ul>
                    <% @empresa.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="form-group">
              <%= f.label :nome %>
              <%= f.text_field :nome, :class => 'form-control', :placeholder => 'Nome' %>
            </div>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email' %>
            </div>

            <div class="form-group">
              <%= f.label :site %>
              <%= f.text_field :site, :class => 'form-control', :placeholder => 'http://' %>
            </div>

            <!--<div class="form-group">-->
            <%#= f.file_field :avatar %>
            <!--</div>-->

            <div class="actions">
              <%= f.submit "Salvar", :class => 'btn btn-success'%>
            </div>
        <% end %>

        <script>

            $("#empresa_site").focusin( function () {

                        if ($(this).val != "") {
                            $(this).val("http://");
                        }
                    }

            )

        </script>


      </div>
    </section>
  </div>


</div>
