<% content_for :content do %>

    <h1><i class="fa fa-building-o fa-lg"></i> Empresas</h1>


    <ol class="breadcrumb" style="margin-top: 30px;">
      <li><i class="fa fa-home"></i><a href="<% root_path %>">Início</a></li>
      <li><i class="fa fa-building"></i>Empresas</li>
    </ol>

    <div class="row">
      <div class="col-lg-12">
        <section class="panel">

          <table class="table table-striped table-advance table-hover">
            <tbody>
            <tr>
              <th><i class="fa fa-user"></i> Nome</th>
              <th><i class="fa fa-cogs"></i> Ações</th>
            </tr>
            <% @empresas.each do |empresa| %>
                <tr>
                  <td><a href="<%= empresa_path(empresa.id) %>"><%= empresa.nome %></a></td>
                  <td>
                    <div class="btn-group">
                      <%= link_to "", empresa_path(empresa), :class => "btn btn-primary fa fa-plus-square-o"%>
                      <%if can? :manage, Empresa %>
                          <%= link_to "", edit_empresa_path(empresa), :class => "btn btn-success fa fa-pencil-square-o"%>
                          <%= link_to "", empresa_path(empresa), :method => :delete, :class => "btn btn-danger fa fa-trash-o", :data => {:confirm => ("Tem certeza que deseja excluir essa empresa?")}%>
                      <% end %>
                    </div>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </section>
      </div>
    </div>

    <% if logged_in? %>
        <a class="btn btn-success" href="<%= new_empresa_path %>"><i class="fa fa-plus"></i> Nova Empresa</a>
    <% end%>
<% end %>