<% content_for :content do %>

    <h1><i class="fa fa-star fa-lg"></i> Avaliações</h1>


    <ol class="breadcrumb" style="margin-top: 30px;">
      <li><i class="fa fa-home"></i><a href="<% root_path %>">Início</a></li>
      <li><i class="fa fa-star"></i>Avaliações</li>
    </ol>

    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <section class="panel">
          <div class="panel-body">
            <%= form_tag pesquisar_avaliacoes_path, :method => :get, :class => 'form-horizontal', :role => 'form' do |f|%>
                <div class="col-lg-12">
                  <label class="col-lg-2 control-label">Empresa</label>
                  <div class="col-lg-10" sqtyle="margin-top: 13px;">
                    <%= text_field_tag :empresa, :empresa, {:class => 'form-control',:placeholder => "Digite o nome da empresa"}%>
                  </div>
                </div>
                <div class="col-lg-12">
                  <label class="col-lg-2 control-label">Aluno</label>
                  <div class="col-lg-10" sqtyle="margin-top: 13px;">
                    <%= text_field_tag :usuario, :usuario, {:class => 'form-control',:placeholder => "Digite o nome do aluno"}%>
                  </div>
                </div>
                <% if current_user.administrador %>
                    <div class="col-lg-12">
                      <label class="col-lg-2 control-label">Status</label>
                      <div class="col-lg-10" sqtyle="margin-top: 13px;">
                        <%= select_tag "status", options_from_collection_for_select(SituacaoAvaliacao.all, "id", "descricao"), include_blank: "Todos", class: 'form-control'%>
                      </div>
                    </div>
                <%end%>
                <div class="btn-group">
                  <%= submit_tag "Buscar", :class => 'btn btn-primary btn-sm'%>
                </div>
            <%end%>
          </div>
        </section>
      </div>

      <div class="col-lg-12">
        <section class="panel">

          <table class="table table-striped table-advance table-hover">
            <tbody>
            <tr>
              <th style="width: 35px;"><i class="fa fa-user"></i></th>
              <th> Avaliador</th>
              <th style="width: 35px"><i class="fa fa-building"></i></th>
              <th> Empresa</th>
              <% if current_user.administrador %>
                  <th><i class="fa fa-flag"></i> Status</th>
              <% end %>
              <th><i class="fa fa-cogs"></i> Ações</th>
            </tr>
            <% @avaliacoes.each do |avaliacao| %>
                <tr>
                  <td style="padding: 0px;"><img width="100%" style="padding-left: 6px;" src="<% root_path %>/images/noavatar.gif" class="img-circle img-responsive"> </td>
                  <td><%= link_to avaliacao.usuario.nome, usuario_path(avaliacao.usuario_id) %></td>
                  <td  style="padding: 0px;"><img width="100%" style="padding-left: 6px;" src="<% root_path %>/images/noavatar.gif"  class="img-circle img-responsive"> </td>
                  <td><%= avaliacao.empresa.nome%></td>
                  <% if current_user.administrador %>
                      <td><%= avaliacao.situacao_avaliacao.descricao%></td>
                  <% end %>
                  <td>
                    <div class="btn-group">
                      <%= link_to "", avaliacao_path(avaliacao.id), :class => "btn btn-primary fa fa-plus-square-o"%>
                      <% if can? :manage, Empresa %>
                        <% if !avaliacao.moderada? %>
                            <%= link_to "", edit_avaliacao_path(avaliacao.id), :class => "btn btn-success fa fa-pencil-square-o"%>
                        <%end%>
                        <%= link_to "", avaliacao_path(avaliacao), :method => :delete, :class => "btn btn-danger fa fa-trash-o", :data => {:confirm => ("Tem certeza que deseja excluir essa avaliação?")}%>
                      <% end %>
                    </div>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </section>
      </div>
    </div>

    <% if logged_in? %>
        <a class="btn btn-success" href="<%= new_avaliacao_path %>"><i class="fa fa-plus"></i> Nova Avaliação</a>
    <% end %>

<% end %>