<% content_for :content do %>

    <ol class="breadcrumb">
      <li><i class="fa fa-home"></i><a href="<%= root_path %>">Início</a></li>
      <li><i class="fa fa-star"></i><a href="<%= avaliacoes_path %>">Avaliações</a></li>
      <li><%= @avaliacao.empresa.nome %>, por <%= @avaliacao.usuario.nome %></li>
    </ol>

    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-xs-12 col-lg-12">
        <section class="panel">
          <div class="panel-body">

            <div class="col-xs-12 col-lg-4">
              <h2 style="margin-top: 0px;">Dados da Empresa</h2>

              <p style="font-size: 12pt;">
                <b>Nome:</b>
                <% if !@avaliacao.empresa.nome.nil? %>
                    <%= @avaliacao.empresa.nome %>
                <% else %>
                    <i>não informado</i>
                <% end %>
              </p>

              <p style="font-size: 12pt;">
                <b>Email:</b>
                <% if !@avaliacao.empresa.email.nil? %>
                    <%= @avaliacao.empresa.email %>
                <% else %>
                    <i>não informado</i>
                <% end %>
              </p>

              <p style="font-size: 12pt;">
                <b>Site:</b>
                <% if !@avaliacao.empresa.site.nil? %>
                    <%= @avaliacao.empresa.site %>
                <% else %>
                    <i>não informado</i>
                <% end %>
              </p>

            </div>

            <div class="col-xs-12 col-lg-8">
              <h2 style="margin-top: 0px;">Estatísticas</h2>
            </div>

          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-xs-12 col-lg-10">
        <section class="panel">
          <div class="panel-body">


            <div class="col-xs-12 col-lg-9">
              <h2 style="margin-top: 0px;">Contratação</h2>

              <div class="col-xs-12 col-lg-6">


                <p style="font-size: 12pt;">
                  <b>Início do Contrato:</b>
                  <% if !@avaliacao.inicio_contrato.nil? %>
                      <%= @avaliacao.inicio_contrato %>
                  <% else %>
                      <i>não informado</i>
                  <% end %>
                </p>

                <p style="font-size: 12pt;">
                  <b>Cargo:</b>
                  <% if !@avaliacao.titulo_cargo.nil? %>
                      <%= @avaliacao.titulo_cargo %>
                  <% else %>
                      <i>não informado</i>
                  <% end %>
                </p>

                <p style="font-size: 12pt;">
                  <b>Carga Horária:</b>
                  <% if !@avaliacao.carga_horaria.nil? %>
                      <%= @avaliacao.carga_horaria %> horas/semana
                  <% else %>
                      <i>não informado</i>
                  <% end %>
                </p>

              </div>

              <div class="col-xs-12 col-lg-6">

                <p style="font-size: 12pt;">
                  <b>Final do Contrato:</b>
                  <% if !@avaliacao.final_contrato.nil? %>
                      <%= @avaliacao.final_contrato%>
                  <% else %>
                      <i>não informado</i>
                  <% end %>
                </p>

                <p style="font-size: 12pt;">
                  <b>Area de Atuação:</b>
                  <% if !@avaliacao.area_atuacao.nil? %>
                      <%= @avaliacao.area_atuacao%>
                  <% else %>
                      <i>não informado</i>
                  <% end %>
                </p>

                <p style="font-size: 12pt;">
                  <b>Salário(bolsa):</b>
                  <% if !@avaliacao.salario.nil? %>
                      R<%= number_to_currency(@avaliacao.salario) %>
                  <% else %>
                      <i>não informado</i>
                  <% end %>
                </p>

              </div>
            </div>


            <div class="col-xs-12 col-lg-3">
              <h3 style="margin-top: 0px;">Benefícios</h3>

              <% if @avaliacao.vale_transporte %>
                  <span class="label label-success">Vale Transporte</span>
              <% end %>
              <% if @avaliacao.ticket_refeicao %>
                  <span class="label label-success">Ticket Refeição</span>
              <% end %>
              <% if @avaliacao.ticket_alimentacao %>
                  <span class="label label-success">Ticket Alimentação</span>
              <% end %>
              <% if @avaliacao.plano_saude %>
                  <span class="label label-success">Plano de Saúde</span>
              <% end %>
              <% if @avaliacao.plano_dentario %>
                  <span class="label label-success">Plano Dentário</span>
              <% end %>
              <% if @avaliacao.descontos %>
                  <span class="label label-success">Descontos em Serviços da Empresa</span>
              <% end %>

            </div>

          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-xs-12 col-lg-10">
        <section class="panel">
          <div class="panel-body">
            <div class="col-xs-12 col-lg-12">


              <h2 style="margin-top: 0px;">Atividades</h2>
              <h3>Quais foram as suas principais atividades no estágio?</h3>

              <p style="margin: 10px;">
                <% if !@avaliacao.atividades.nil? %>
                    <%= @avaliacao.atividades %>
                <% else %>
                    <i>Atividades não informadas.</i>
                <% end %>
              </p>

              <hr>

              <h3>Você possuia algum orientador na empresa, que ajudava com suas dúvidas e dificuldades?</h3>

              <p style="margin: 10px;">
                <% if @avaliacao.orientador == 0 %>
                    Meu orientador <b>ajudava frequentemente</b>.
                <% elsif @avaliacao.orientador == 1 %>
                    Meu orientador <b> auxiliava ocasionalmente</b>.
                <% elsif @avaliacao.orientador == 2 %>
                    Eu <b>não possuia</b> um orientador.
                <% else %>
                    <i>Dado não informado.</i>
                <% end %>
              </p>

            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-xs-12 col-lg-10">
        <section class="panel">
          <div class="panel-body">
            <div class="col-xs-12 col-lg-12">

              <h3>Como você define as suas possibilidades de efetivação?</h3>

              <p style="margin: 10px;">
                <% if @avaliacao.efetivacao == 0 %>
                    Provavelmente <b>serei</b> efetivado.
                <% elsif @avaliacao.efetivacao == 1 %>
                    Provavelmente <b>não serei</b> efetivado.
                <% elsif @avaliacao.efetivacao == 2 %>
                    Fui <b>efetivado</b>.
                <% elsif @avaliacao.efetivacao == 3 %>
                    Fui <b>dispensado</b>.
                <% else %>
                    <i>Dado não informado.</i>
                <% end %>
              </p>

              <hr>

              <h3>Quão válido foi o aprendizado durante o seu tempo de estágio?</h3>

              <p style="margin: 10px;">
                <% if @avaliacao.aprendizado == 0 %>
                    Aprendi <b>muito</b> no estágio.
                <% elsif @avaliacao.aprendizado == 1 %>
                    Aprendi <b>algumas coisas</b> no estágio.
                <% elsif @avaliacao.aprendizado == 2 %>
                    <b>Não aprendi muito</b> no estágio.
                <% else %>
                    <i>Dado não informado.</i>
                <% end %>
              </p>

              <hr>

              <h3>Você indicaria a mesma oportunidade de estágio para algum amigo seu?</h3>

              <p style="margin: 10px;">
                <% if @avaliacao.aprendizado.nil? %>
                    <i>Dado não informado.</i>
                <% elsif @avaliacao.aprendizado %>
                    <b>Indicaria</b>.
                <% else %>
                    <b>Não indicaria</b>.
                <% end %>
              </p>

              <hr>

              <h3>Deseja fazer mais comentários sobre a sua experiência de estágio?</h3>

              <p style="margin: 10px;">
                <% if !@avaliacao.comentarios_avaliador.nil? %>
                    <%= @avaliacao.comentarios_avaliador %>
                <% else %>
                    <i>O usuário não fez comentários.</i>
                <% end %>
              </p>

            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-xs-12 col-lg-10">
        <section class="panel">
          <div class="panel-body">

            <h1>Comentários</h1>

            <% @avaliacao.comentarios.each do |comentario| %>

                <div class="padd sscroll">

                  <ul class="chats">

                    <%= render :partial => "comentarios/comentario", :locals => {:comentario => comentario} %>

                  </ul>

                </div>

            <% end %>

            <hr>

            <div class="col-xs-12 col-lg-12">
              <h2>Enviar Comentário</h2>

              <%= render :partial => "comentarios/form", :locals => {:avaliacao => @avaliacao}  %>

            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-xs-12 col-lg-10">
        <section class="panel">
          <div class="panel-body">

            <div class="col-xs-12 col-lg-4">
              <h2 style="margin-top: 0px;">Status</h2>
              <% if @avaliacao.aceita? %>
                  <span class="label label-success">Aceita</span>
              <% elsif @avaliacao.rejeitada? %>
                  <span class="label label-danger">Rejeitada</span>
              <% else %>
                  <span class="label label-info">Aguardando Moderação</span>
              <% end %>
            </div>

          </div>
        </section>
      </div>
    </div>

    </div>



    <% if @avaliacao.usuario == current_user || current_user.administrador %>

        <div class="btn-group" role="group" style="left: 50%; margin: 1%;">
          <% if !@avaliacao.moderada? %>
            <%= link_to " Editar", edit_avaliacao_path(@avaliacao.id), :class => "btn btn-primary fa fa-pencil-square-o"%>
            <%if current_user.administrador %>
              <%= link_to " Aceitar", aceitar_avaliacao_path(@avaliacao), :method => :post, :class => "btn btn-info fa fa-check-square-o", :data => {:confirm => ("Tem certeza que deseja aceitar essa avaliação?")}%>
              <%= link_to " Rejeitar", rejeitar_avaliacao_path(@avaliacao), :method => :post, :class => "btn btn-warning fa fa-times", :data => {:confirm => ("Tem certeza que deseja rejeitar essa avaliação?")}%>
            <% end %>
          <% end %>
          <%= link_to " Excluir", avaliacao_path(@avaliacao), :method => :delete, :class => "btn btn-danger fa fa-trash-o", :data => {:confirm => ("Tem certeza que deseja excluir essa avaliação?")}%>
        </div>
    <% end %>

<% end %>