<header class="header dark-bg">
  <div class="toggle-nav">
    <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
  </div>

  <!--logo start-->
  <a href="<%= root_path %>" class="logo"><img src="<%= root_path %>images/logo.png" style="margin-top:-12px;"></a>
  <!--logo end-->


  <div class="top-nav notification-row">
    <!-- notificatoin dropdown start-->
    <ul class="nav pull-right top-menu">
      <% if logged_in? %>
          <!-- user login dropdown start-->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <%= image_tag("user.jpg", width: "30", height: "30", :class => 'img-circle img-responsive') %>
                            </span>
              <span class="username"><%= current_user.nome%></span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
              <div class="log-arrow-up"></div>
              <li class="eborder-top">
                <a href="<%= usuario_path(current_user)%>"><i class="fa fa-user"></i> Perfil</a>
              </li>
              <li>
                <%= link_to " Sair", sign_out_path, method: "delete", :class=>"fa fa-sign-out" %>
              </li>
            </ul>
          </li>
      <% else %>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <%= image_tag("user.jpg", width: "30", height: "30", :class => 'img-circle img-responsive') %>
                            </span>
              <span class="username"></span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
              <div class="log-arrow-up"></div>
              <li class="eborder-top">
                <%= link_to " Criar Conta", new_usuario_path, :class=>"fa fa-sign-in" %>
              </li>
              <li>
                <%= link_to " Logar", sign_in_path, :class=>"fa fa-sign-in" %>
              </li>
            </ul>
          </li>
      <% end %>
      <!-- user login dropdown end -->
    </ul>
    <!-- notificatoin dropdown end-->
  </div>
</header>