<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
  <meta name="author" content="GeeksLabs">
  <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
  <link rel="shortcut icon" href="images/favicon.png">

  <title>EstagiandoUFF</title>

  <%= stylesheet_link_tag "application","font-awesome.min","jquery.easy-pie-chart","bootstrap-fullcalendar","bootstrap","bootstrap-theme","elegant-icons-style","font-awesome","owl.carousel","jquery-jvectormap-1.2.2","fullcalendar","widgets","style","style-responsive","xcharts","jquery-ui-1.10.4" %>
  <%= javascript_include_tag "application","html5shiv","lte-ie7"%>

</head>

<body>

<!-- container section start -->
<section id="container" class="">

<!--header start-->
<%= render 'layouts/header'%>
<!--header end-->

<!--sidebar start-->
<%= render 'layouts/sidebar'%>
<!--sidebar end-->

<!--main content start-->

      <div id="content" class="content">
        <section id="main-content">

          <section class="wrapper">
            <% unless notice.nil? %>
                <div class="alert alert-success fade in m-b-15">
                  <span class="close" data-dismiss="alert">×</span>
                  <i class="fa fa-check fa-2x pull-left"></i>
                  <p><%= notice %></p>
                </div>
            <% end %>
            <% unless flash[:error].nil? %>
                <div class="alert alert-danger fade in m-b-15">
                  <span class="close" data-dismiss="alert">×</span>
                  <i class="fa fa-times fa-2x pull-left"></i>
                  <p><%= flash[:error] %></p>
                </div>
            <% end %>

            <%= yield :content%>
          </section>
        </section>
      </div>
<!--main content end-->
</section>
<!-- container section start -->

<%= javascript_include_tag "Chart","jquery.knob","jquery.slimscroll.min","sparklines","gdp-data","jquery.placeholder.min","jquery.autosize.min","xcharts.min","jquery-jvectormap-world-mill-en","jquery-jvectormap-1.2.2.min","sparkline-chart","scripts","jquery.customSelect.min","jquery.rateit.min","fullcalendar.min","owl.carousel","jquery.sparkline","jquery.nicescroll","jquery.scrollTo.min","bootstrap.min","jquery-ui-1.9.2.custom.min","jquery-ui-1.10.4.min" %>


<script>

    //knob
    $(function() {
        $(".knob").knob({
            'draw' : function () {
                $(this.i).val(this.cv + '%')
            }
        })
    });

    //carousel
    $(document).ready(function() {
        $("#owl-slider").owlCarousel({
            navigation : true,
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem : true
        });
    });

    //custom select box

    $(function(){
        $('select.styled').customSelect();
    });

    /* ---------- Map ---------- */
    $(function(){
        $('#map').vectorMap({
            map: 'world_mill_en',
            series: {
                regions: [{
                    values: gdpData,
                    scale: ['#000', '#000'],
                    normalizeFunction: 'polynomial'
                }]
            },
            backgroundColor: '#eef3f7',
            onLabelShow: function(e, el, code){
                el.html(el.html()+' (GDP - '+gdpData[code]+')');
            }
        });
    });



</script>

</body>
</html>

